@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="donate-button" asp-controller="Payment" asp-action="Index">Donate 1$ to see all donators</a>
</div>
